<mat-toolbar color="primary" class="example-toolbar">
  <!--<button mat-icon-button><mat-icon>menu</mat-icon></button>-->
  <h1>Melo Dictionary</h1>
</mat-toolbar>

<!--
  continua:
  https://stackblitz.com/angular/klqaabgjllb?file=app%2Fsidenav-responsive-example.html
-->

<div style="text-align:center">
  <h1>
    Home
  </h1>
</div>

<mat-list>
  <h3 mat-subheader>Palavras</h3>
  <mat-list-item>
    <h4 mat-line>Cat</h4>
    <p mat-line>Gato</p>
  </mat-list-item>
  <mat-list-item>
    <h4 mat-line>Cat</h4>
    <p mat-line>Gato</p>
  </mat-list-item>
</mat-list>

<router-outlet></router-outlet>
