<div *ngIf="(isLoggedIn | async)">
  {{ authService.userDetails.displayName }}
  <button mat-raised-button color="accent" (click)="logout()">Sair</button>
</div>

<div style="text-align:center">
  <h1>
    Home
  </h1>
</div>

<mat-list>
  <h3 mat-subheader>Palavras</h3>
  <button mat-raised-button color="accent" (click)="navegarParaCadastrarPalavra()">Nova palavra</button>
  <mat-list-item *ngFor="let item of items | async">
    <h4 mat-line>{{ item.word }}</h4>
    <p mat-line>{{ item.translate }}</p>
  </mat-list-item>
</mat-list>